body {
    background-color: #9eafc2;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

.main {
    border-radius: 5%;
    background-color: #3e52a3;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.crop {
    width: 359px;
    height: 250px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
}    
